/* CSS untuk header dengan tema hijau muda */
.navbar {
  background-color: #e6ffe6;
}
.navbar-brand {
  color: #28a745; /* Warna hijau muda */
}
.navbar-nav .nav-link {
  color: #333; /* Warna teks lainnya */
}

/* Gunakan CSS ini untuk membuat chart responsif */
canvas {
    width: 100%;
    height: auto;
}

/* Atur ukuran canvas untuk desktop */
@media (min-width: 768px) {
    canvas {
        width: 100%;
        height: 50vh;
    }
}
